<!--This components is the student's sign up form -->
<img src="../../../assets/icons/userwithoutbackground.svg" alt="user">
        <h3>Cadastro de usuario</h3>
        <form action="">
            <label for="#nome">Nome</label>
            <input type="text" id="nome" placeholder="Nome Completo">
            <label for="#CPF">CPF</label>
            <input type="text" id="CPF" placeholder="000.000.000-00" inputmode="numeric" mask="000.000.000-00">
            <label for="#Sexo">Sexo</label>
            <select name="sexo" id="sexo">
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
                <option value="sem">Prefiro não declarar</option>
            </select>
            <label for="#data_de_nascimento">Data de Nascimento</label>
            <input type="date" id="data_de_nascimento">
            <label for="#endereço">Endereço</label>
            <input type="text" id="endereço">
            <label for="#telefone">Telefone</label>
            <input type="text" id="telefone" placeholder="(ddd) 0 0000-0000" mask="(00)00000-0000" >

           
                <label for="#senha">Senha</label>
                <input type="password" id="senha">
                <label for="#confirmar_senha">Confirmar Senha</label>
                <input type="password" id="#confirmar_senha">
          

            <div class="submit">
                <input type="submit" name="Cadastrar">
                <!--the link below redirects to the landing-page -->
                <a routerLink="/Landing">Cancelar</a>
            </div>
        </form>
