<app-header-menu></app-header-menu>
<div class="home">
    <!--the div below shows the users options for operations like search for jobs, recruiters,-->
    <!-- see all the curriculums that has been added, etc-->
    <div class="options">
        <a routerLink=""><img src="../../../assets/icons/briefcase.svg" alt=""></a>
        <a routerLink=""><img src="../../../assets/icons/folded-corner-paper.svg" alt=""></a>
    </div>
    <h1>Vagas adicionadas recentemente</h1>
    <!--the div below shows the latest vacancies that has been added-->
    <div class="latest">

    </div>
</div>
